  
body {
    background-color: #F0F8FF;
}

legend {
    font-weight: 800;
    font-size: 20px;
}

fieldset {
    border: 2px solid black;
    background-color: white;
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  header {
      text-align: center;
  }

  .elements-in-box-adjust {
    margin: 20px;
}

ul {
    list-style-type: none;
    text-align: left;
    display: inline;
}

ul > li {
    margin: 2px;
}


.options {
    margin: 20px;
    text-align: center;
}

.feedback {
    margin: 10px;
    color: rgb(4, 23, 133);
}

#js-score {
   font-weight: bold;
}